
body {
  background-color: rgb(210, 210, 210);
  color: black;
  text-align: center;
}

.task {
  border: 1px solid black;
  background-color: white;
  margin: 0 25% 1% 25%;
  padding: 10px;
}

.task button {
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  margin-bottom: 0;
}

#content-display{
  background-color: rgb(88, 89, 97);
  color: black;
  min-height: 50vh;
  height: auto;
  width: 100%;
  margin: 1%;
  padding: 1%;
  border-radius: 2%;

  display: flex;
  flex-direction: column;
  align-items: center;
}