// body {
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
//     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
//     sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

/* MAIN CONTAINER */
.mainContainer {
  color: black;
}

/* LANDING PAGE */
.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* RENDERED PAGE */
.renderedPage {
  display: grid;
  grid-template-columns: 45% 55%;
}

.renderedPage header {
  grid-column: 1 / span 2;
  border: 2px solid black;
}

/* COMPONENT TREE */
.componentTree {
  grid-column: 1 / span 1;
  min-height: 700px;
  border: 2px solid blue;
}

.node {
  color: black;
}

/* VISUALIZER */
.visualizer {
  grid-column: 2 / span 1;
  border: 2px solid red;
}

/* STATE CONTAINER */
.stateContainer {
  color: red;
}

/* STATE ITEM */
.stateItem {
  color: black;
}

/* RENDERED CONTAINER */
.renderedContainer {
  color: red;
}

/* REACT COMPONENT RENDERED */
.reactComponent {
  color: black;
}

iframe {
  border: 1px solid black;
  width: 100%;
  height: 500px;
}
