$background: rgba(31, 31, 31, 0.986);
$header: rgba(119, 172, 183, 0.76);
$pfont: white;
$button-background: rgb(81, 16, 13);
$button-text: white;
$button-hover: rgba(95, 0, 0, 0.897);
$button-text-hover: grey;
$container-background: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  height: 100vh;
  width: 100vw;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }

/* MAIN CONTAINER */
.mainContainer {
  display: grid;
  place-items: center;
  color: $pfont;
  background-color: $background;
}

/* LANDING PAGE */
.landingPage {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid: repeat(12, 1fr)/ repeat(12,1fr);
  grid-gap: 15px;

  .header {
    display: grid;
    grid-area: 1/3/3/13;

    h1 {
      font-size: 100px;
      text-align: center;
      color: $header !important;
    }
  }
  .instructions {
    display: grid;
    grid-area: 3/4/5/12;
    text-align: center;
    place-items: center;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
    border-radius: 5px;
  }

  .staticInstr {
    display: grid;
    grid-area: 5/4/7/8;
    place-items: center;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
    border-radius: 5px;
  }

  .staticFiles {
    display: grid;
    grid-area: 7/4/9/8;
    place-items: center;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
    border-radius: 5px;
  }

  .componentInstr {
    display: grid;
    grid-area: 5/8/7/12;
    place-items: center;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
  }
  .componentFiles {
    display: grid;
    grid-area: 7/8/9/12;
    place-items: center;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
    border-radius: 5px;
  }

  .next {
    display: grid;
    grid-area: 9/6/11/10;
    text-align: center;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
    padding: 20px;
    border-radius: 5px;
  }

  .button {
    padding: 10px;
    width: 120px;
    border-radius: 8%;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: none;
    background-color: $button-background;
    color: $button-text;
    margin-top: 10px;
  }

  .button:hover {
    background-color: $button-hover;
    color: $button-text-hover;
  }

  .button:active {
    background-color: $button-hover;
    transform: translateY(4px);
  }
}

/* RENDERED PAGE */
.renderedPage {
  min-width: 1000px;
}

.renderedPage h1 {
  display: grid;
  width: 100%;
  // border: 2px solid black;
  font-size: 100px;
  color: $header;
  text-align: center;
}

.container {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
  background-color: $container-background;
  border: 1px solid black;
}

/* COMPONENT TREE */
.componentTree {
  display: grid;
  grid-column: 1 / span 1;
  min-height: 700px;
  // border: 2px solid blue;
  margin-top: 20px;
}

.treeGraph {
  //margin-top: 15vh;
  // text {
  //   writing-mode: vertical-lr;
  //   text-orientation: mixed;
  // }
  background-color: $container-background;
}

.node {
  color: black;
}

/* VISUALIZER */
.visualizer {
  grid-column: 2 / span 1;
  // border: 2px solid red;
}

/* STATE CONTAINER */
.stateContainer {
  // color: red;
}

/* STATE ITEM */
.stateItem {
  // color: black;
}

/* RENDERED CONTAINER */
.renderedContainer {
  // color: red;
}

/* REACT COMPONENT RENDERED */
.reactComponent {
  // color: black;
}

iframe {
  border: none;
  width: 100%;
  height: 500px;
}

// jimmy css

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  // overflow: auto;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* lighter option */
  /* background-color: rgba(226, 226, 226, 0.103); */
  /* dark option */
  background-color: rgba(31, 31, 31, 0.986);
}

#root {
  /* border: #68828a solid 15px; */
  // min-height: 100vh;
  // height: auto;
  /* width: 80%; */
  // width: clamp(200px, 80%, 80%);

  /* display: grid;
  grid-template-areas: 
  "head head"; */
  /* "nav  main"
  "nav  foot"; */
  // grid-template-columns: 1fr;
}

#main-container-div {
  /* grid-area: head; */
}

.header {
  /* box-shadow: 0px 8px 24px 0px rgb(149, 157, 165, 0.411); */
  grid-area: header;
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  margin-bottom: 100px;
}

.main {
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
  grid-area: main;

  padding-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer {
  border: #a1e0f1 solid 5px;
  grid-area: footer;
}

.App-link {
  color: #61dafb;
}

.NavBar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'team_link website_link';
  place-items: center;
}

.NavBar > a {
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(102, 0, 0, 0.678);
  width: 200px;
  border-radius: 5px;
  padding: 8px 0;
}

.NavBar > a:hover {
  color: grey;
  background-color: rgba(100, 0, 0, 0.897);
}

.website_link {
  grid-area: 'website_link';
}

.team_link {
  grid-area: 'team_link';
}

.AboutReactron {
  /* border: 1px solid blue; */
  display: grid;
  place-items: center;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
  border-radius: 5px;
  margin: 20px 0;
  padding: 70px;
}

.GifDisplayDiv {
  /* border: 1px solid red; */
  /* height: 200px; */
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
  border-radius: 5px;
  margin: 20px 0;
}

img {
  width: 100%;
}

.TeamMembersWrapper > h2 {
  padding: 15px;
}

h2 {
  animation: 10s slidein-left;
}

.TeamMemberComponentDiv {
  padding: 3px;
  border-radius: 7px;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
  background-color: rgba(31, 31, 31, 0.603);
  margin: 3px;
}

.TeamMemberComponentDiv > a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  padding: 10px;
}

.TeamMemberComponentDiv > a:hover {
  color: grey;
}

.TeamMembersDiv {
  /* border: 1px solid black; */
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
  border-radius: 5px;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
  background-color: rgba(20, 20, 20, 0.699);
}

.Wrapper {
  display: flex;
  justify-content: center;
}

.MainContainerDiv {
  max-width: 850px;
  text-align: center;
}

.profileImage {
  border-radius: 100%;
  height: 150px;
  width: 150px;
  padding: 5px;
}

/* mobile */
@media (max-width: 650px) {
  .TeamMembersDiv {
    grid-template:
      1fr
      1fr/ 1fr 1fr;
    height: 800px;
  }
}

@media (max-width: 450px) {
  .TeamMembersDiv {
    display: flex;
    flex-flow: column;
    height: 1200px;
  }
}

// @media (min-width: 850px) {

//   .MainContainerDiv{
//     max-width: 1500px;
//   }

//  .profileImage {
//   height: 270px;
//   width: 270px;
// }

// h2 {
//   font-size: 70px;
//   margin-bottom: 40px;
// }

// p {
//   font-size: 30px;
// }

// .GifDisplayDiv {
//   margin-top: 50px;
//   margin-bottom: 400px;
//   padding: 20px 0;
// }

// .TeamMembersWrapper {
//   margin-bottom: 300px;
// }

// .AboutReactron {
//   margin-bottom: 200px;
// }

// .header {
//   margin-bottom: 300px;
// }

// .NavBar > a{
//   font-size: 50px;
//   width: 300px;
// }

// }




.LoginPageWrapper {
  display: grid;
  place-items: center;

  .LoginPage {
  display: grid;
  grid: repeat(12, 1fr) / repeat(12, 1fr);
  max-width: 1200px;
  height: 100vh;
  width: 100vw;

    .LoginContainer {
      grid-area: 3/4 / span 7 / span 6;
      box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);

    }


    .Login {
      grid-area: 8/5 / span 1 / span 2;
      border: 1px solid white;
      display: grid;
      place-items: center;
      margin: 10px;

    }

    .Demo {
      grid-area: 8/7 / span 1 / span 2;
      border: 1px solid white;
      display: grid;
      place-items: center;
      margin: 10px; 

    }

    .Login .Demo {
      background-color: grey;
    }

    .BackToSplash {
      grid-area: 3/4 / span 1 / span 2;
      margin: 10px;

    }

    .Logo {
      grid-area: 4/5/7/9;
      box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.411);
      img{
        height: 100%;
        width: 100%;
      }

    }
  }
}



.NavBarContainer {
  grid-area: 1/1 / span 12 / span 2;
  border-right: 1px solid white;
  display: grid;
  grid: repeat(12, 1fr) / 1fr;


  .Profile {
    grid-area: 1/1 / span 4 / span 1;

  }

  .Signout {
    grid-area: 12/1 / span 1 / span 1;
  }


}

