body {
  background-color: rgb(210, 210, 210);
  color: black;
  text-align: center;
}

.task {
  border: 1px solid black;
  background-color: white;
  margin: 0 25% 1% 25%;
  padding: 10px;
}

.task button {
  margin-left: 5px;
  margin-right: 5px;
}

h2 {
  margin-bottom: 0;
}
