.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #28342f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
} */

/* MAIN CONTAINER */
.mainContainer {
  color: black;
}

/* LANDING PAGE */
.landingPage {
  display: flex;
  justify-content: center;
}

/* RENDERED PAGE */
.renderedPage {
  display: grid;
  grid-template-columns: 45% 55%;
}

.renderedPage header {
  grid-column: 1 / span 2;
  border: 2px solid black;
}

/* COMPONENT TREE */
.componentTree {
  grid-column: 1 / span 1;
  min-height: 700px;
  border: 2px solid blue;
}

.node {
  color: black;
}

/* VISUALIZER */
.visualizer {
  grid-column: 2 / span 1;
  border: 2px solid red;
}

/* STATE CONTAINER */
.stateContainer {
  color: red;
}

/* STATE ITEM */
.stateItem {
  color: black;
}

/* RENDERED CONTAINER */
.renderedContainer {
  color: red;
}

/* REACT COMPONENT RENDERED */
.reactComponent {
  color: black;
}
